<div class="text-center">
  <div class="promo help-promo">
    <div class="jumbotron">
      <h1>Please email us with questions or support issues at support@meetingslice.com</h1>
    </div>
  </div>
</div>
