<div class="container-fluid text-center">

  <div class="promo">
    <div class="jumbotron">
      <h1>Attention is the new currency.</h1>
      <div class="row">
        <div class="col-md-3 col-md-offset-0 well dm-highlight"><%= image_tag('Darth-Vader_6bda9114.jpg', class: 'img-thumbnail img-responsive') %>
          <h4><strong>Darth Vader</strong></h4>
          <h4><strong>Sith Lord</strong></h4>
          <h4><strong>The Empire</strong></h4></div>
        <div class="col-md-3 well dm-highlight"><%= image_tag('Darth-Vader_6bda9114.jpg', class: 'img-thumbnail img-responsive') %>
          <h4><strong>Darth Vader</strong></h4>
          <h4><strong>Sith Lord</strong></h4>
          <h4><strong>The Empire</strong></h4></div>
        <div class="col-md-3 well dm-highlight"><%= image_tag('Darth-Vader_6bda9114.jpg', class: 'img-thumbnail img-responsive') %>
          <h4><strong>Darth Vader</strong></h4>
          <h4><strong>Sith Lord</strong></h4>
          <h4><strong>The Empire</strong></h4></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3><strong>How It Works</strong></h3></div>
    <div class="col-md-2 col-md-offset-3"><i class="glyphicon glyphicon-alert process-icons"></i>
      <h3> <strong>Step 1:</strong></h3>
      <p>Steal Underpants</p>
    </div>
    <div class="col-md-2 col-md-offset-0"><i class="glyphicon glyphicon-alert process-icons"></i>
      <h3> <strong>Step 2:</strong></h3>
      <p>????????? </p>
    </div>
    <div class="col-md-2 col-md-offset-0"><i class="glyphicon glyphicon-alert process-icons"></i>
      <h3> <strong>Step 3:</strong></h3>
      <p>PROFIT! </p>
    </div>
  </div>
  <div id="row-container-1" class="row-container">
    <div class="row">
      <div class="col-md-6 row-content">
        <div class="floating-text">
          <h1><strong>Buy his time!</strong></h1>
          <p>lorem ipsumlorem ipsumlorem ipsumlorem ipsumLorem IpsumBollorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum.</p>
        </div>
      </div>
      <div class="col-md-6 section-picture"></div>
    </div>
  </div>
  <div id="row-container-2" class="row-container">
    <div class="row">
      <div class="col-md-6 section-picture"></div>
      <div class="col-md-6 row-content">
        <div class="floating-text">
          <h1><strong>Buy his time!</strong></h1>
          <p>lorem ipsumlorem ipsumlorem ipsumlorem ipsumLorem IpsumBollorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</div>




</div>