<h1>Payment</h1>

<h3>With: <%= @decision_maker.full_name %></h3>
<h3>
  On <%= @desired_block.display_day + ': ' + @desired_block.show_start_time + ' To ' + @desired_block.show_end_time %>
</h3>

<p>
  You have selected to book the time above.  Once payment information is received,
  the decision maker wil confirm calendar availability and you will recieve an email back with the exact
  dates and times the decision maker is available for you to choose from.
</p>

<p>
  Your credit card will not be charged until a specific date and time has been agreed upon by both parties.
</p>