<%- customer = current_user.fetch_stripe_customer %>
<%- form_id ||= 'new_meeting' %>
<div id="card-on-file">
  Using Card: <%= customer.sources.retrieve(customer.default_source).last4 %>
</div>
<%= link_to 'Change Card', update_card_path(form_id: form_id), remote: true %>