
<div class="col-md-8 col-md-offset-2">

  <div class="row">
    <h1 class="text-center">Registration</h1>
  </div>

  <%= simple_form_for @user, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
                      wrapper_mappings: {radio_buttons: :horizontal_radio_and_checkboxes} do |f| %>

      <%= f.error_notification %>

      <%= render partial: 'users/partials/general_form', locals: {f: f} %>

      <%= f.submit 'Complete Registration', class: 'btn btn-primary col-md-4 col-md-offset-4' %>
  <% end %>

</div>



