<h1>Schedule Time</h1>


<%- if @user.multi_role? %>

  <ul class="nav nav-tabs" id="myTab">
    <li role="presentation" class="active"><a href="#decision_maker_tab">Decision Maker</a></li>
    <li role="presentation"><a href="#sales_person_tab">Sales Person</a></li>
  </ul>



<div class="tab-content">


  <div id="decision_maker_tab" class="tab-pane fade in active">
    <%= render 'users/partials/dm_schedule_time', user: @user %>
  </div>

  <div id="sales_person_tab" class="tab-pane fade in fade">
    <%= render partial: 'users/partials/sp_schedule_time' %>
  </div>

</div>

<script>
  $('#myTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  });

  // store the currently selected tab in the hash value
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
  });

  // on load of the page: switch to the currently selected tab
  var hash = window.location.hash;
  $('#myTab a[href="' + hash + '"]').tab('show');
</script>

<%- elsif @user.role == 'dm' %>

    <%= render 'users/partials/dm_schedule_time', user: @user %>

<%- else %>

    <%= render partial: 'users/partials/sp_schedule_time' %>

<% end %>
