<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :ar_first_name, label: "Contact's First Name", class: 'form-control', placeholder: 'Contact First Name' %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :ar_last_name, label: "Contact's Last Name", class: 'form-control', placeholder: 'Contact Last Name' %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :ar_email, label: "Contact's Email", class: 'form-control', placeholder: 'Email Contact' %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :ar_account_number, label: 'Account Number', class: 'form-control', placeholder: 'Account Number' %>
  </div>
</div>