<div class="col-xs-2">
  <p class="lead">
    <strong>Paid Reply</strong><br>
    <a type="button" data-toggle="modal" data-target="#paidInboxModal" class="btn-link btn-xs">
      What is this?
    </a>
  </p>
</div>

<div class="col-xs-1">
  <p class="lead">
    Email Only
  </p>
</div>

<div class="col-xs-2">
  <p class="lead text-center">
    <%= "$#{dm.paid_inbox.price}" %>
  </p>
</div>

<div class="col-xs-2">
  <div>
    <%= link_to 'Ask Question', new_question_path(id: dm.id), remote: true, class: 'btn btn-success'%>
  </div>

</div>