<div id= "price-info-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pricing</h4>
      </div>
      <div class="modal-body">

        <p>
          <strong>Our Goal:</strong> Set the price of your time high enough to incentivize the Sales Reps with the best chance of solving
          your business problems to purchase your attention.  Create a zero-effort filter for you.
        </p>

        <p>
          <strong>Our Algorithm:</strong> Using our proprietary data set, we use hundreds of variables to determine how
          to price your time at any given moment. We spent the past year researching your industry, the
          vendors who sell to you, their profitability, their closing rates and how much they would pay
          for a meeting with you right now.  The innovative companies with highly valuable products were
          willing to pay high amounts.
          The companies with almost no differentiation compared to your current solution were not.
        </p>

        <p class="text-center">
          It costs a Sales Rep virtually nothing to cold call or email you.<br/>
          They will always take a meeting.<br/>
          Raise the stakes, create a filter.
        </p>

      </div>
    </div>

  </div>
</div>