<div class="col-md-offset-2">
  <%= f.input :role, as: :radio_buttons, collection: [['Decision Maker', 'dm'] ,['Sales Person', 'sp'],
                                                      ['Both Decision Maker and Sales Person', 'both']] %>
</div>


<hr/>