<div class="form-group col-md-offset-2">
  <h3>Tell us about what you are selling.</h3>
  <%= f.input :sp_product_service, placeholder: 'Tell us a bit about what you are selling.', label: false %>
</div>