<h1 class="text-center">Search for Decision Makers</h1>
<div class="row margin-bottom">
  <div class="col-md-4 col-md-offset-4">
    <%= search_form_for @query, url: schedule_time_path, remote: true, html: {method: 'get'} do |f| %>

        <div class="form-group">

          <%= f.search_field :full_name_or_company_name_cont, class: 'form-control', placeholder: 'Name or Company' %>
        </div>

        <%= f.submit class: 'btn btn-primary center-block' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="search_results_container">
    <%- unless @decision_makers.empty? %>
        <%= render 'users/partials/search_results' %>
    <% end %>
  </div>
</div>
