<tr data-toggle="collapse" data-target="#meeting_1" class="accordion-toggle" role="button">
  <td> <a style="text-decoration: none" class="glyphicon glyphicon-chevron-right"></a></td>
  <td>Example</td>
  <td>Decision Maker</td>
  <td>Kyle Fowler</td>
  <td>MeetingSlice</td>
  <td>Date of Meeting</td>
  <td>Start Time</td>
  <td>End Time</td>
  <td>Click Here to Change</td>
</tr>

<tr>
  <td colspan="12" class="hiddenRow">
    <div class="accordian-body collapse col-md-12" id="meeting_1">
      <div class="row match-my-cols">

        <div class="col-md-6 well">
          <h3>Meeting Details:</h3>
          <p><strong>Meeting Confirmation #:</strong> ABC123</p>
          <p><strong>Price/Hr:</strong>Varies</p>

            <p><strong>Requested Time:</strong>
              Booked General Availability
            </p>

          <p><strong class="text-large">Type:</strong> In Person</p>
          <p><strong>Location:</strong> 1234 Your Street. Your Town State, 12345</p>
          <hr>
          <p><strong>Instructions:</strong> <br>
            This is where the meeting details go.
          </p>
        </div>

        <div class="col-md-6 well">
          <h3>Decision Maker:</h3>
          <p><strong>Decision Maker interested in:</strong> This is what the Decision Maker is currently evaluating.</p>

          <h3>Sales Person:</h3>
          <p><strong>Sales Person products/services:</strong> This is a description of the Sales Rep's product/service.</p>
        </div>


      </div>


    </div>
  </td>
</tr>