// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand-icon {
  padding-left:10px;
  font-size:large;
}

.container-fluid {
  padding:initial;
}

.text-bold {
  font-weight: bold;
}

.promo {
  background-image:image-url('jumbo_background.png');
  background-size:cover;
  background-position:50%;
  width:100%;
  background-repeat:no-repeat;
  margin-top: -21px;
}

.promo .jumbotron {
  background-color:rgba(255,255,255, 0.6);
  padding-bottom:10em;
  margin-bottom:0px;
}

.process-icons {
  font-size:4em;
}

.dm-highlight {
  margin-left:5em;
  border-radius: 10px;
}

.dm-image {
  //border-radius: 10px;
  max-height: 150px;
  margin:auto;
}


.step-image {
  height: 50px;
  width: auto;
  margin: 7px 0;
}

#row-container-1 {
  background-color:rgb(238,233,233);
}

.row-container .row {
  max-width:90%;
  margin:0 auto;
}

.row-content {
  position:relative;
  height:175px;
}

#row-container-1 .section-picture{
  background-image: image-url('filter.png');
}

#row-container-2 .section-picture{
  background-image: image-url('Darth-Vader_6bda9114.jpg');
}

.section-picture {
  min-height:500px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% bottom;
}

.floating-text {
  position:absolute;
  top:33%;
  font-size:large;
}


.row-container .col-md-6 {
  min-height:500px;
}