// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand-icon {
  padding-left:10px;
  font-size:large;
}

.container-fluid {
  padding:initial;
}

.text-bold {
  font-weight: bold;
}

.promo {
  background-image:image-url('splash_page/jumbo_background.png');
  background-size:cover;
  background-position:50%;
  width:100%;
  background-repeat:no-repeat;
  margin-top: -21px;
}

.help-promo .jumbotron {
  min-height: 500px;

}

.promo .jumbotron {
  background-color:rgba(255,255,255, 0.9);
  padding-bottom:4em;
  margin-bottom:0;
}

.jumbotron-padding{
  padding-top: 40px;
}

.dm-highlight {
  border-radius: 10px;
  background-color: #1c2324;
  color: whitesmoke;
  min-height: 353.5px;
  font-size: 1em;
}

.dm-image {
  max-height: 150px;
  margin:auto;
  border-radius: 15px;
}

.signup-well{
  background-color: #aeaeae;
}

.signup-well .media-icon {
  height: 60px;
  cursor: pointer;
  display: inline-block;
}

.signup-well h2{
  margin-top: 2px;
}

.signup-well .btn{
  margin-top: 10px;
  margin-left: 40px;
}
.signup-well .form-group{
  margin-bottom: 5px;
}

.signup-well .form-group-sm .control-label{
  font-size: 0.8em;
}

.step-image {
  height: 50px;
  width: auto;
  margin: 7px 0;
}

.seen-in-row{
  background-color: #f3f3f3;
  padding: 13px 15px 30px;
}
.seen-in-row img{
  height: 60px;
  width: 190px;
  margin: 5px 20px;
}

.step-container h1{
  font-size: 50px;
}

.shaded-column {
  background-color:rgb(238,233,233);
}

.text-container {
  height: 125px;
}

.row-container .row {
  max-width:90%;
  margin:0 auto;
}

.row-content {
  position:relative;
  height:175px;
}

#row-container-1 .section-picture{
  background-image: image-url('splash_page/signal.png');
}

#row-container-2 .section-picture{
  background-image: image-url('splash_page/stop-cold-call.png');
}

.section-picture {
  min-height:500px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% bottom;
}

.floating-text {
  position:absolute;
  top:33%;
  font-size:large;
}

.large-text{
  font-size: 1.3em;
}

.floating-text-container {
  min-height: 200px;
}


.row-container .col-md-6 {
  min-height:400px;
}

.padding-top {
  padding-top: 4em;
}