// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.custom-success{
  background-color: rgba(116, 255, 119, 0.3);
}

.custom-warning{
  background-color: rgba(255, 254, 130, 0.3);
}

.custom-danger{
  background-color: rgba(233, 56, 50, 0.5)
}

textarea.form-control{
  height: 100%;
}

.setting-box .panel-body{
  height: 75%;
}

.setting-box .btn {
  border-radius: 20px !important;
}

.time-picker{
  width: 100% !important;
}

.col-sm-12 .form-group {
  margin-bottom: 5px;
}

.modal-link-red{
  color: red;
  display: inline-block;
  margin-top: 1%;
}

.role-button{
  font-size: larger;
}